*{
    background-color: rgb(199, 235, 235);
}
h1{
    color: blue;
    text-align: center;
}
h3, pre{
    color: rgb(39, 39, 123);
    text-align: center;
}
marquee{
    text-decoration: none;
    color: rgba(242, 108, 94, 0.868);
    font-family: 'Times New Roman', Times, serif;
}
