header {
    nav {
        background-color: #333;
        overflow: hidden;
    }
        a {
            color: #f2f2f2;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            float: left;
        }
            
            a.active {
                background-color: #04AA6D;
                color: white;
            }
            
            a:hover {
                color: black;
                background-color: #ddd;
            }

    h1 {
        color: brown;
        text-align: center;
    }
    h4 {
        color: rgb(35, 175, 175);
        text-align: center;
    }
}

div {
    form{
        font-size: 25px;
    }
    .personal{
        margin: 2px auto;
        padding: 0rem 2rem 2rem 2rem;
        border:2px solid black;
        height: 25rem;
        width: 50%;
        box-shadow: 5px 5px 5px #5e5a5a; 
    }
    p {
        text-align: center;
    }
    .personal input{
        height: 2rem;
        width:100%;
    }
    .personal input[type=radio] {
        height: 20px;
        width: 45px;
    }
    .gender {
        text-align: center;
        padding-top: 18rem;
    }
    .left{
        padding: 0rem 1rem 1rem 1rem;
        width: 20%;
        position: absolute;
        display: inline;
        right: 50%;
    }
    .right{
        padding: 0rem 1rem 1rem 1rem;
        width: 20%;
        position: absolute;
        display: inline;
        left: 50%;
    }
        .arroww {
            display: inline-block;
            padding: 16px;
            border: solid black;
            border-width: 0 8px 8px 0;
        }
        .down {
            -webkit-transform: rotate(45deg);
            position: absolute;
            right:1%;
            transform: rotate(45deg);
        }  
        .academic {
            margin: 2px auto;
            padding: 0rem 2rem 2rem 2rem;
            border:2px solid black;
            height: 25rem;
            width: 50%;
            box-shadow: 5px 5px 5px #5e5a5a; 
        }
        .academic input{
            height: 2rem;
            width:100%;
        }
        .academic select {
            font-family: 'Times';
            font-size: 1rem;
            height: 3rem;
            width: 17rem;
        }
        .leftside{
            padding: 0rem 1rem 1rem 1rem;
            width: 20%;
            position: absolute;
            display: inline;
            right: 50%;
        }
        .rightside{
            padding: 0rem 1rem 1rem 1rem;
            width: 20%;
            position: absolute;
            display: inline;
            left: 50%;
        }
        .large-file-input {
            font-family: 'Times New Roman', Times, serif;
            font-size: 76%;
            padding-top: 2%;
        }
        .submit {
            text-align: center;
            padding-top: 18rem;
        }
        .submit button {
            padding-left: 1rem;
            height: 3rem;
            width: 35rem;
            background-color: #04AA6D;
            border-radius: 5rem;
            border: none;
        }
        .submit a{
            text-decoration: none;
            font-size: 2rem;
            color: antiquewhite;
            font-family: 'Times New Roman', Times, serif;
        }
            .arrow {
                display: inline-block;
                padding: 16px;
                border: solid black;
                border-width: 0 8px 8px 0;
            }
            .up {
                -webkit-transform: rotate(-135deg);
                position: absolute;
                right:1%;
                transform: rotate(-135deg);
            }
}
footer {
    background-color: aquamarine;
    color:#333;
    width: 100%;

    p{
        padding-top: 1%;
        font-size: 26px;
        text-align: center;
    }
    marquee {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
}
